<h1>Welcome User</h1>
<p> Click on the following link  to create account : localhost:3000/signup?referral=<%=  @user.referral_code %></p>
<p> Click on the following link  to create account : <%= link_to "click for signup", new_user_registration_url(referral: @user.referral_code)%></p>